-c requirements.txt
-c docs/requirements.txt
check-manifest>=0.45
docutils>=0.16
flake8>=3.7.9
flake8-bugbear>=20.1.4
flake8-commas>=2.0.0
flake8-import-order>=0.18.1
jupyter>=1.0
pytest>=5.3.5
pytest-cov>=2.8.1
sphinx-autobuild>=0.7.1
tox>=3.14.5
twine>=3.1.1
wheel>=0.34.2
