graft docs
prune docs/_build
graft src
graft ci
graft tests

include *.md
include LICENSE

include tox.ini
exclude Makefile requirements.txt dev-requirements.in dev-requirements.txt

global-exclude *.py[cod] __pycache__/* *.so *.dylib
